* {
    margin: 0;
    padding: 0;
}

.startpage {
    background-color:rgb(250, 245, 245);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 450px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.optionscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: 350px;
}

.option1container {
    background-color: red;
    height: 175px;
    width: 150px;
}

.option2container {
    background-color: yellow;
    height: 175px;
    width: 150px;
}

.logo {
    max-width: 200px;
}

.prompt {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}