* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .image-container, .mainpage, .overlay-content, .mariobackground {
        max-width: 100%;
        max-height: 100%;
    }
  }

.mainpage {
  background-color:rgb(246, 248, 249);
  width: 450px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.overlay-content, .overlay-content2, .overlay-content3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 450px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.overlay-content2 {
  justify-content: space-around;
}

.overlay-content3 {
  justify-content: center;
  flex-direction: row;
}

.logo {
  max-width: 55%;
  max-height: 55%;
  margin-top: 15%;
}

.logo3 {
  max-width: 15%;
  max-height: 15%;
  margin-top: 15%;
}

.mariojumping {
  max-width: 50%;
  max-height: 50%;
}

.image-container{
  position: relative;
  width: 450px;
  height: 100%;
      
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mariobackground {
  position: absolute;
  width: 450px;
  bottom: 0;
}

.order {
    margin-top: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.3rem;
    appearance: button;
    background-color: #88ce1c;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
}

.order:after {
  background-clip: padding-box;
  background-color: #88ce1c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.order:main,
.order:focus {
  user-select: auto;
}

.order:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.order:disabled {
  cursor: auto;
}

.order:active {
  border-width: 4px 0 0;
  background: none;
}

.optionscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  width: 375px;
  margin-bottom: 65%;
}

.option1container {
  background-color: rgb(224, 225, 220);
  height: 175px;
  width: 160px;
  border-radius: 28px;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option1container:active {
  background-color: rgb(201, 203, 194);
}

.option1container:hover {
  background-color: rgb(201, 203, 194);
}

.prompt {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
}

.containertext {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.image1container, .image2container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  max-width: 80%;
  max-height: 80%;
}

.image2 {
  max-width: 80%;
  max-height: 80%;
}

.topnav {
  height: 70px;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.minilogo {
  max-width: 50%;
  max-height: 50%;
  margin-left: 8%;
}

.shoppingcart {
  max-width: 8%;
  margin-right: 7%;
}

.toptext {
  font-size: 1.7rem;
  font-weight: 400;
  width: 450px;
  height: 100px;
  display: flex;
  align-items: center;
}

.greeting {
  margin-left: 8%;
}

.menuitems {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;

}

.pizzaimage {
  width: 75px;
}

.option2container {
  background-color: rgb(228, 228, 225);
  height: 135px;
  width: 120px;
  border-radius: 22px;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.option2container:active {
  background-color: rgb(201, 203, 194);
}

.option2container:hover {
  background-color: rgb(201, 203, 194);
}

.pizzatitle {
  font-size: 0.85rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section1 {
  width: 300px;
}

.section2 {
  background-color: rgb(243, 243, 240);
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ordertext {
  font-size: 1.25rem;
  font-weight: 700;
}

.orderprice {
  font-size: 1.25rem;
  font-weight: 700;
}

.subtitle {
  color: rgb(150, 150, 144);
}

.orderdescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 150px;
  width: 150px;
  margin-left: 30%;
  margin-top: 22%;
}

hr {
  border: 1px solid rgb(201, 203, 194);
  width: 120px;
}

.cart {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderpricing {
  text-align: center;
  display: flex;
  width: 150px;
  height: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.done {
  background-color: #ff2929;
  font-weight: 600;
  width: 80px;
  height: 85px;
  border: none;
  border-radius: 26px;
  margin-top: 15%;
}

.done:active {
  background-color: #d32a2a;
}

.done:hover {
  background-color: #d32a2a;
}
.goback {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.back {
  margin-left: 2rem;
  background-color: #dcd7d7;
  font-weight: 600;
  width: 80px;
  border-radius: 10px;
  border: none;
  height: 40px;
}

.back:active {
  background-color: rgb(201, 203, 194);
}

.back:hover {
  background-color: rgb(201, 203, 194);
}


.mainpage2 {
  background-color:rgb(246, 248, 249);
}
body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
.order-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.order-section {
  width: calc(33.33% - 10px);
  margin: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(228, 228, 225);
  border-radius: 10px; 
}
.order-button {
  align-self: flex-end;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}
.button:hover {
  background-color: #c2c7c7;
}

.logo2{
  max-width: 2%;
  max-height: 2%;
  margin-right: 10px;
}

.logo2, h1 {
  display: inline-block;
  vertical-align: middle;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-section h2{
  background-color: darkgray;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-top: -10px; 
  margin-left: -10px; 
  margin-right: -10px;
  text-align: center; 
}