<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mario and Luigi's Pizzeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='mariologo.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="mainpage">
        <div class="image-container">
            <img class="mariobackground" src="{{ url_for('static', filename='mario_background.png') }}">
        </div>
        <div class="overlay-content">
            <img class="logo" src="{{ url_for('static', filename='mario_luigi_logo.png') }}">
            <img class="mariojumping" src="{{ url_for('static', filename='mariojumping.gif') }}">
            <form action="{{ url_for('start') }}">
                <button class="order">Order</button>
            </form>
        </div>
    </div>
</body>

</html>
